.container {
    display: grid;
    grid: 80px / 50px 50px 50px;
    grid-gap: 10px;
    background-color: lightblue;
    padding: 10px;
  }
  .container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:20px;
    font-size: 30px;
  }